In [ ]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

In [ ]:
for school in high_schools:
    print(school)

In [ ]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
print (high_school_types)

In [4]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]
# Add the Pandas dependency.
import pandas as pd
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [5]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [16]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [11]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
# Print the DataFrame.
schools_df

# Add the list to a new DataFrame.
schools_df["school_name"] = school_name
# Print the DataFrame.
schools_df

# Add the list to a new DataFrame.
schools_df["type_of_school"] = type_of_school
# Print the DataFrame.
schools_df

   School ID            school_name type_of_school
0          0      Huang High School       District
1          1   Figueroa High School       District
2          2    Shelton High School        Charter
3          3  Hernandez High School       District
4          4    Griffin High School        Charter

In [15]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}
# Initialize a new DataFrame.
high_schools_dict_df = pd.DataFrame()
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [1]:
class Cat:
    def __init__(self, name):
        self.name = name

first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [2]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound

    def bark(self):
        return self.sound + ' ' + self.sound

In [4]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [5]:
second_dog = Dog('lady', 'blonde', 'arf!')
print(second_dog.name) 
print(second_dog.color)
second_dog.bark()

lady
blonde

'arf! arf!'

In [12]:
import pandas as pd

In [13]:
new_high_school_district = [{"School ID" : 0, "school_name" : "Virginia High School", "type" :"district"}, 
                            {"School ID" : 1, "school_name" : "Florida High School", "type" :"district"}, 
                            {"School ID" : 2, "school_name" : "NC High School", "type" :"district"}, 
                            {"School ID" : 3, "school_name" : "Kentucky High School", "type" :"district"}]

In [14]:
school_df_1 = pd.DataFrame(new_high_school_district)
school_df_1

   School ID           school_name      type
0          0  Virginia High School  district
1          1   Florida High School  district
2          2        NC High School  district
3          3  Kentucky High School  district

In [15]:
# Read the student data file and store it in a Pandas DataFrame.
student_data_df = pd.read_csv(student_data_to_load)
student_data_df.head()

NameError: name 'student_data_to_load' is not defined